body {
    width: 100vh;
    height: 100vh;
    background-color: #121212;
}

.button {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
}

.button:focus {
    color: #171e29;
}

.button:hover {
    border-color: rgb(240, 70, 255);
    color: rgb(240, 70, 255);
    fill: rgb(240, 70, 255);
}

.button:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

@media (min-width: 768px) {
    .button {
        min-width: 170px;
    }
}
nav ul {
  background: #333;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}
nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
    color:white;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}